<h1>Post here</h1>

<%= link_to 'new post', new_post_path %>

<table>
  <thead>
    <tr>
      <td>title</td>
      <td>content</td>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td> <%= post.title %> </td>
        <td> <%= post.content %> </td>
        <td>
          <% if post.images.attached? %>
            <% (0...post.images.count).each do |img| %>
              <%= image_tag (post.images[img]).variant(resize_to_fit: [400, 400]) %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
