.post-header {
  width: 910px;
  margin: 0 auto 20px;

  h1 {
    font-weight: 600;
    text-align: center;
  }
}
.post-infos {
  width: 910px;
  margin: 0 auto 20px;
  color: rgb(31,31,31);
  font-size: 17px;
  font-weight: 200;
  line-height: 1.4em;
  text-align: center;

  p.user-info {
    font-size: 13px;
    font-weight: 500;

    time {
      display: block;
    }
  }

}

section.content {
  p {
    img {
      display: block;
      margin: 0 auto;
    }
  }
}

section.posts-list {
  .card {
    img {
      padding: 1em 0 1em 1em;
    }

    .card-body {
      .card-text:first-of-type {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        -webkit-box-orient: vertical;
      }
    }
  }
}
