<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card text-white">
          <div class="card-body">
            <h3 class="card-title">Join Our Newsletter</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card text-white">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card text-white">
          <div class="card-body">
            <button type="button" class="btn btn-light">SUBSCRIBE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
